.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex-grow: 1;
}

.footer {
  margin-top: auto;
}

/* Alternatively */
.searchItem {
  border: 1px solid lightgray;
  padding: 20px;
  margin-left: 164px;
  border-radius: 5px;
  width: 1194px;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.siSlot {
  font-size: 15px;
  align-self: self-start;
  color: #000000;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.siType {
  font-size: 15px;
  align-self: self-start;
  color: #9ca7a3;
  font-weight: bold;
}

.siTitle {
  align-self: self-start;
  font-size: 35px;
  color: #1144ba;
}

.siLogo {
  align-self: self-start;
}

.siRoomButton {
  background-color: #0800ff;
  width: 120px;
  color: white;
  font-weight: bold;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.siRoomDropButton {
  background-color: #ff0000;
  width: 120px;
  color: white;
  font-weight: bold;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.siTotalRoom {
  border: 1px solid lightgray;
  padding: 20px;
  margin-left: 164px;
  border-radius: 5px;
  width: 1194px;
  font-style: italic;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  /* Specify your desired font family */
}