.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    flex-grow: 1;
}

.footer {
    margin-top: auto;
}

/* Alternatively */
.searchItem {
    border: 1px solid lightgray;
    padding: 20px;
    margin-left: 164px;
    border-radius: 5px;
    width: 1194px;
}

.siDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.siSlot {
    font-size: 15px;
    align-self: self-start;
    color: #000000;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.siType {
    font-size: 15px;
    align-self: self-start;
    color: #9ca7a3;
    font-weight: bold;
}

.siTitle {
    align-self: self-start;
    font-size: 35px;
    color: #1144ba;
}

.siLogo {
    align-self: self-start;
}

.siCourseButton {
    background-color: #0800ff;
    width: 120px;
    color: white;
    font-weight: bold;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.siCourseDropButton {
    background-color: #ff0000;
    width: 120px;
    color: white;
    font-weight: bold;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.custom-file-download {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px 66px;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 4px;
    font-size: 16px;
}

.container3 {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(34%);
    }
}

.move-text {
    position: absolute;
    animation: moveLeftToRight 10s linear infinite;
    font-family: Arial, sans-serif;
    /* Change the font family */
    font-size: 20px;
    color: red;
    /* Change the font size */
    font-weight: bold;
    /* Add the font weight */
}